/*
	Baby Teeth
	Copyright Bound & Petal Press 2025
	All rights reserved.

*/

/* Main */

	#main {
		opacity: 1 !important;
		overflow-x: auto !important;
	}

		#main .item.thumb img {
			opacity: 1 !important;
		}
